In [3]:
import pandas as pd
# 数据导入
df=pd.read_csv('new.csv',encoding='utf-8')
# 查看数据类型
df.info()
#查看空行
print(pd.isnull(df).any())
#如果检测的位置为空，则返回Ture
print(df.isnull())
#删除空行all是全部，any任意axis : 删除行还是列，{0 or ‘index’, 1 or ‘columns’}, default 0
df1=df.dropna(axis=0, how='any')
#df.head(50)
#查看空行
print(pd.isnull(df).any())
print(len(df))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4812 entries, 0 to 4811
Data columns (total 18 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            4812 non-null   int64
 1   show_id       4812 non-null   object
 2   title         4812 non-null   object
 3   director      4812 non-null   object
 4   country       4812 non-null   object
 5   release_year  4812 non-null   int64
 6   duration      4812 non-null   object
 7   listed_in     4812 non-null   object
 8   score         4812 non-null   int64
 9   director1     4812 non-null   int64
 10  cast1         4812 non-null   int64
 11  cast2         4812 non-null   int64
 12  cast3         4812 non-null   int64
 13  country1      4812 non-null   int64
 14  duration1     4812 non-null   int64
 15  listed_in1    4812 non-null   object
 16  listed_in2    4812 non-null   int64
 17  score1        4812 non-null   int64
dtypes: int64(11), object(7)
memory usage: 676.8+ KB
id              False
show_id         False
title           False
director        False
country         False
release_year    False
duration        False
listed_in       False
score           False
director1       False
cast1           False
cast2           False
cast3           False
country1        False
duration1       False
listed_in1      False
listed_in2      False
score1          False
dtype: bool
         id  show_id  title  director  country  release_year  duration  \
0     False    False  False     False    False         False     False
1     False    False  False     False    False         False     False
2     False    False  False     False    False         False     False
3     False    False  False     False    False         False     False
4     False    False  False     False    False         False     False
...     ...      ...    ...       ...      ...           ...       ...
4807  False    False  False     False    False         False     False
4808  False    False  False     False    False         False     False
4809  False    False  False     False    False         False     False
4810  False    False  False     False    False         False     False
4811  False    False  False     False    False         False     False

      listed_in  score  director1  cast1  cast2  cast3  country1  duration1  \
0         False  False      False  False  False  False     False      False
1         False  False      False  False  False  False     False      False
2         False  False      False  False  False  False     False      False
3         False  False      False  False  False  False     False      False
4         False  False      False  False  False  False     False      False
...         ...    ...        ...    ...    ...    ...       ...        ...
4807      False  False      False  False  False  False     False      False
4808      False  False      False  False  False  False     False      False
4809      False  False      False  False  False  False     False      False
4810      False  False      False  False  False  False     False      False
4811      False  False      False  False  False  False     False      False

      listed_in1  listed_in2  score1
0          False       False   False
1          False       False   False
2          False       False   False
3          False       False   False
4          False       False   False
...          ...         ...     ...
4807       False       False   False
4808       False       False   False
4809       False       False   False
4810       False       False   False
4811       False       False   False

[4812 rows x 18 columns]
id              False
show_id         False
title           False
director        False
country         False
release_year    False
duration        False
listed_in       False
score           False
director1       False
cast1           False
cast2           False
cast3           False
country1        False
duration1       False
listed_in1      False
listed_in2      False
score1          False
dtype: bool
4812

In [61]:
import random
df1.head(5)
#删除cast列
df1.drop(['cast'],axis=1,inplace=True)
#重新创建索引
df1=df1.reset_index(drop=True)
print(len(df1))
for i in range(len(df1)):
    #print(i)
    df1.loc[i,('cast1')]=random.randint(1,1000) 
    df1.loc[i,['cast2']]=random.randint(1,1000) 
    df1.loc[i,['cast3']]=random.randint(1,1000) 
  
#df1.to_csv('11.csv')

C:\Users\Administrator\AppData\Local\Temp\ipykernel_61220\2885025275.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1.drop(['cast'],axis=1,inplace=True)

4812

In [84]:
df1.head(5)
df2=df1.groupby('country')
print(len(df2))
print(type(df2))
df3=pd.DataFrame(df2,columns=('a','b'))
df3

544
<class 'pandas.core.groupby.generic.DataFrameGroupBy'>

,a,b
0,Argentina,show_id ...
1,"Argentina, Brazil, France, Poland, Germany, De...",show_id title director \...
2,"Argentina, Chile",show_id title ...
3,"Argentina, Chile, Peru",show_id title director ...
4,"Argentina, France",show_id title director ...
...,...,...
539,"Uruguay, Guatemala",show_id ti...
540,"Uruguay, Spain, Mexico",show_id title director ...
541,Venezuela,show_id title director coun...
542,Vietnam,show_id title di...
543,Zimbabwe,show_id title director count...

In [87]:
#print(df3['a'])
guojia={}
a=0
for i in df3['a']:
    guojia[i]=a
    a+=1
#print(guojia)
for i in range(len(df1)):
    #print(i)
    for k,v in guojia.items():
        if k== df1.loc[i,('country')]:
            df1.loc[i,('country1')]=v
df1.head(100)

,show_id,title,director,country,release_year,duration,listed_in,score,cast1,cast2,cast3,country1
0,s2,7:19,Jorge Michel Grau,Mexico,2016,93 min,"Dramas, International Movies",4,468.0,424.0,701.0,239.0
1,s3,23:59,Gilbert Chan,Singapore,2011,78 min,"Horror Movies, International Movies",3,393.0,588.0,319.0,296.0
2,s4,9,Shane Acker,United States,2009,80 min,"Action & Adventure, Independent Movies, Sci-Fi...",3,124.0,528.0,161.0,440.0
3,s5,21,Robert Luketic,United States,2008,123 min,Dramas,3,710.0,258.0,739.0,440.0
4,s6,46,Serdar Akar,Turkey,2016,1 Season,"International TV Shows, TV Dramas, TV Mysteries",5,282.0,855.0,371.0,357.0
...,...,...,...,...,...,...,...,...,...,...,...,...
95,s134,7 a?os,Roger Gual,Spain,2016,77 min,"Dramas, International Movies",4,890.0,632.0,744.0,317.0
96,s136,7 Din Mohabbat In,"Meenu Gaur, Farjad Nabi",Pakistan,2018,137 min,"Comedies, International Movies, Music & Musicals",3,268.0,699.0,644.0,265.0
97,s137,7 Khoon Maaf,Vishal Bhardwaj,India,2011,148 min,"Dramas, International Movies, Thrillers",1,513.0,566.0,523.0,173.0
98,s144,90 ML,Anita Udeep,India,2019,123 min,"Comedies, International Movies, Music & Musicals",1,692.0,323.0,355.0,173.0
99,s145,93 Days,Steve Gukas,Nigeria,2016,121 min,"Dramas, International Movies, Thrillers",3,249.0,838.0,807.0,257.0

In [96]:
df1['duration1']=df1['duration'].str.split(" ",expand=False).str[0]
df1.head(10)

,show_id,title,director,country,release_year,duration,listed_in,score,cast1,cast2,cast3,country1,duration1
0,s2,7:19,Jorge Michel Grau,Mexico,2016,93 min,"Dramas, International Movies",4,468.0,424.0,701.0,239.0,93
1,s3,23:59,Gilbert Chan,Singapore,2011,78 min,"Horror Movies, International Movies",3,393.0,588.0,319.0,296.0,78
2,s4,9,Shane Acker,United States,2009,80 min,"Action & Adventure, Independent Movies, Sci-Fi...",3,124.0,528.0,161.0,440.0,80
3,s5,21,Robert Luketic,United States,2008,123 min,Dramas,3,710.0,258.0,739.0,440.0,123
4,s6,46,Serdar Akar,Turkey,2016,1 Season,"International TV Shows, TV Dramas, TV Mysteries",5,282.0,855.0,371.0,357.0,1
5,s7,122,Yasir Al Yasiri,Egypt,2019,95 min,"Horror Movies, International Movies",3,405.0,286.0,422.0,100.0,95
6,s8,187,Kevin Reynolds,United States,1997,119 min,Dramas,1,916.0,58.0,649.0,440.0,119
7,s9,706,Shravan Kumar,India,2019,118 min,"Horror Movies, International Movies",3,779.0,387.0,914.0,173.0,118
8,s10,1920,Vikram Bhatt,India,2008,143 min,"Horror Movies, International Movies, Thrillers",3,554.0,590.0,253.0,173.0,143
9,s11,1922,Zak Hilditch,United States,2017,103 min,"Dramas, Thrillers",1,554.0,389.0,338.0,440.0,103

In [97]:
df1['listed_in1']=df1['listed_in'].str.split(",",expand=False).str[0]
df1.head(10)

,show_id,title,director,country,release_year,duration,listed_in,score,cast1,cast2,cast3,country1,duration1,listed_in1
0,s2,7:19,Jorge Michel Grau,Mexico,2016,93 min,"Dramas, International Movies",4,468.0,424.0,701.0,239.0,93,Dramas
1,s3,23:59,Gilbert Chan,Singapore,2011,78 min,"Horror Movies, International Movies",3,393.0,588.0,319.0,296.0,78,Horror Movies
2,s4,9,Shane Acker,United States,2009,80 min,"Action & Adventure, Independent Movies, Sci-Fi...",3,124.0,528.0,161.0,440.0,80,Action & Adventure
3,s5,21,Robert Luketic,United States,2008,123 min,Dramas,3,710.0,258.0,739.0,440.0,123,Dramas
4,s6,46,Serdar Akar,Turkey,2016,1 Season,"International TV Shows, TV Dramas, TV Mysteries",5,282.0,855.0,371.0,357.0,1,International TV Shows
5,s7,122,Yasir Al Yasiri,Egypt,2019,95 min,"Horror Movies, International Movies",3,405.0,286.0,422.0,100.0,95,Horror Movies
6,s8,187,Kevin Reynolds,United States,1997,119 min,Dramas,1,916.0,58.0,649.0,440.0,119,Dramas
7,s9,706,Shravan Kumar,India,2019,118 min,"Horror Movies, International Movies",3,779.0,387.0,914.0,173.0,118,Horror Movies
8,s10,1920,Vikram Bhatt,India,2008,143 min,"Horror Movies, International Movies, Thrillers",3,554.0,590.0,253.0,173.0,143,Horror Movies
9,s11,1922,Zak Hilditch,United States,2017,103 min,"Dramas, Thrillers",1,554.0,389.0,338.0,440.0,103,Dramas

In [98]:
df2=df1.groupby('listed_in1')
print(len(df2))
print(type(df2))
df3=pd.DataFrame(df2,columns=('a','b'))
df3

32
<class 'pandas.core.groupby.generic.DataFrameGroupBy'>

,a,b
0,Action & Adventure,show_id title ...
1,Anime Features,show_id ...
2,Anime Series,show_id title...
3,British TV Shows,show_id ...
4,Children & Family Movies,show_id ...
5,Classic & Cult TV,show_id title director ...
6,Classic Movies,show_id title ...
7,Comedies,show_id title ...
8,Crime TV Shows,show_id ...
9,Cult Movies,show_id title ...
10,Documentaries,show_id title \...
11,Docuseries,show_id ...
12,Dramas,show_id title ...
13,Horror Movies,show_id title \ 1 s...
14,Independent Movies,show_id title ...
15,International Movies,show_id title ...
16,International TV Shows,show_id title \ 4 ...
17,Kids' TV,show_id ...
18,LGBTQ Movies,show_id title direc...
19,Movies,show_id ...
20,Music & Musicals,show_id ...
21,Reality TV,show_id title ...
22,Romantic Movies,show_id title ...
23,Romantic TV Shows,show_id title director c...
24,Sci-Fi & Fantasy,show_id title ...
25,Stand-Up Comedy,show_id ...
26,Stand-Up Comedy & Talk Shows,show_id ...
27,TV Action & Adventure,show_id title ...
28,TV Comedies,show_id ...
29,TV Horror,show_id title director c...
30,TV Shows,show_id title ...
31,Thrillers,show_id title ...

In [99]:
#print(df3['a'])
guojia={}
a=0
for i in df3['a']:
    guojia[i]=a
    a+=1
#print(guojia)
for i in range(len(df1)):
    #print(i)
    for k,v in guojia.items():
        if k== df1.loc[i,('listed_in1')]:
            df1.loc[i,('listed_in2')]=v
df1.head(100)

,show_id,title,director,country,release_year,duration,listed_in,score,cast1,cast2,cast3,country1,duration1,listed_in1,listed_in2
0,s2,7:19,Jorge Michel Grau,Mexico,2016,93 min,"Dramas, International Movies",4,468.0,424.0,701.0,239.0,93,Dramas,12.0
1,s3,23:59,Gilbert Chan,Singapore,2011,78 min,"Horror Movies, International Movies",3,393.0,588.0,319.0,296.0,78,Horror Movies,13.0
2,s4,9,Shane Acker,United States,2009,80 min,"Action & Adventure, Independent Movies, Sci-Fi...",3,124.0,528.0,161.0,440.0,80,Action & Adventure,0.0
3,s5,21,Robert Luketic,United States,2008,123 min,Dramas,3,710.0,258.0,739.0,440.0,123,Dramas,12.0
4,s6,46,Serdar Akar,Turkey,2016,1 Season,"International TV Shows, TV Dramas, TV Mysteries",5,282.0,855.0,371.0,357.0,1,International TV Shows,16.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,s134,7 a?os,Roger Gual,Spain,2016,77 min,"Dramas, International Movies",4,890.0,632.0,744.0,317.0,77,Dramas,12.0
96,s136,7 Din Mohabbat In,"Meenu Gaur, Farjad Nabi",Pakistan,2018,137 min,"Comedies, International Movies, Music & Musicals",3,268.0,699.0,644.0,265.0,137,Comedies,7.0
97,s137,7 Khoon Maaf,Vishal Bhardwaj,India,2011,148 min,"Dramas, International Movies, Thrillers",1,513.0,566.0,523.0,173.0,148,Dramas,12.0
98,s144,90 ML,Anita Udeep,India,2019,123 min,"Comedies, International Movies, Music & Musicals",1,692.0,323.0,355.0,173.0,123,Comedies,7.0
99,s145,93 Days,Steve Gukas,Nigeria,2016,121 min,"Dramas, International Movies, Thrillers",3,249.0,838.0,807.0,257.0,121,Dramas,12.0

In [103]:
for i in range(len(df1)):
    #print(i)
    if df1.loc[i,('listed_in2')]>=0 and df1.loc[i,('listed_in2')]<=15 and df1.loc[i,('score')]<5:
            df1.loc[i,('score1')]=int(df1.loc[i,('score')])+1
    else:
        df1.loc[i,('score1')]=df1.loc[i,('score')]
df1.to_csv('new.csv')